body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;


}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:#1c93ab ;
    color:white;
    padding:15px;

}
.navbar a{
    color:white;
    margin:0 10px;
    text-decoration:none;

}
.cards{
    display:flex;
    gap:20px;
    padding:20px;
    flex-wrap:wrap;
    justify-content:center;

}
.card{
    background:rgb(120, 86, 95) ;
    padding:35px;
    width:200px;
    text-align:center ;
    border-radius:9px;

}
