body{
    margin: 40px;
    background: rgb(150, 66, 91);
    font-family:Arial, Helvetica, sans-serif;

}
grid-container{
    display:grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 50px;
    height: 100vh;

}
header{
    grid-column: 1/3;
    background: #69407c;
    color:white;
    padding:15px ;
    font-weight:900;
    
}
aside{
    background: #ccc;
    padding: 15px;
}
main{
    background:#74974f;
    padding: 15px;
}
footer{
    grid-column: 1/3;
    background:#777;
    color:white;
    text-align:left;
    padding: 15px;
}