*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 15px 30px;
    background: #0d636e;
    color:white;
}
.nav-links a{
    margin-left: 15px;
    text-decoration:none ;
    color:white;
}
/*Main container*/
.container{
    display:flex;
    min-height: calc(100vh-120px);

}
/*sidebar*/
.sidebar{
    width:220px;
    background:white;
    padding:20px

}
.sidebar ul{
    list-style:none;

}
.sidebar li{
    margin:10px 0px;
    cursor:pointer;
}
.content{
    flex:1;
    padding:20px ;

}
.hero{
    background: linear-gradient(to left,#7611e9,#0d636e);
    color:white;
    padding:30px;
    border-radius: 50px;
    margin-bottom: 20px;

}
.hero button{
    margin-top:10px;
    padding:20px;
    border:none;
    background:rgb(220, 125, 125);
    color:#e8ddee;
    cursor:pointer;
}