body{
    Display:flex;
    justify-content:center;
    align-items: center;
    height:100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: beige;
    color:rgb(0, 0, 0);
    
}
.box{
    width:120px;
    height:120px;
    background: rgb(69, 78, 156);
    color:white;
    font-size:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    animation: bounce 1s ease-in-out infinite ;

}
@keyframes bounce{
    0%{transform: translateX(-70px);}
    100%{transform: translateX(70px);}
    
}