button{
    margin-top: 15px;
    width:10%;
    padding: 10px;
    background-color: bisque;
    color:black;
    border-radius: 10px;
    cursor:pointer;

}
button:hover{
    background-color: rgba(187, 255, 0, 0.425);
    color: black;


}
.form-container{
    background: rgb(245, 237, 232);
    padding: 25px;
    width: auto;
    height:auto;
    border-radius: 9px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    
    
}
h2{
    font-weight:bold;
    margin-top:10px;
    text-align: center;
    font-size: xx-large;
}   
label{
    font-weight:bold;
    display:block;
    margin-top:10px;
}
input,select,textarea{
    width:10px;
    padding:8px;
    margin-top: 5px;
    border-radius:4px;
    border:1px solid #ccc;
}
#box{
    width: 20%;;
}